# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment files
.env
.env.*

# Go specific
*.test
*.out
/vendor/

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Docker volumes
mysql_data/

# Documentation
/docs/ 